-- Migration to add student_auto_present_preferences table

CREATE TABLE IF NOT EXISTS public.student_auto_present_preferences (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    student_id UUID NOT NULL REFERENCES public.users(id) ON DELETE CASCADE,
    is_enabled BOOLEAN NOT NULL DEFAULT FALSE,
    enabled_from DATE,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()),
    UNIQUE (student_id)
);

-- Enable RLS
ALTER TABLE public.student_auto_present_preferences ENABLE ROW LEVEL SECURITY;

-- Policies for students
CREATE POLICY "Students can view their own auto-present preferences"
    ON public.student_auto_present_preferences FOR SELECT
    USING (auth.uid() = student_id);

CREATE POLICY "Students can insert their own auto-present preferences"
    ON public.student_auto_present_preferences FOR INSERT
    WITH CHECK (auth.uid() = student_id);

CREATE POLICY "Students can update their own auto-present preferences"
    ON public.student_auto_present_preferences FOR UPDATE
    USING (auth.uid() = student_id);

-- Policies for admins
CREATE POLICY "Admins can view all auto-present preferences"
    ON public.student_auto_present_preferences FOR SELECT
    USING (
        EXISTS (
            SELECT 1 FROM public.users
            WHERE id = auth.uid() AND role = 'ADMIN'
        )
    );

CREATE POLICY "Admins can update all auto-present preferences"
    ON public.student_auto_present_preferences FOR UPDATE
    USING (
        EXISTS (
            SELECT 1 FROM public.users
            WHERE id = auth.uid() AND role = 'ADMIN'
        )
    );
