-- 20260909000002_performance_indexes.sql
CREATE INDEX IF NOT EXISTS idx_classes_batch_scope ON public.classes(batch_scope);
CREATE INDEX IF NOT EXISTS idx_attendance_class_id ON public.attendance(class_id);
CREATE INDEX IF NOT EXISTS idx_student_topic_progress_student_id ON public.student_topic_progress(student_id);
CREATE INDEX IF NOT EXISTS idx_classes_date ON public.classes(date);
